@import "tailwindcss";


html.light {
  background-color: white;
  color: black;
}

html.dark {
  background-color: #0f172a; /* dark slate */
  color: white;
}

button {
  transition: background 0.3s, color 0.3s;
}
